:root {
  --banner-height: 50px;
  --margin-spacing: 10px;
}

body {
  margin: 0; /* so we take up the whole screen width/height */
  padding: 0;
  box-sizing: border-box;
}

.App {
  margin: var(--margin-spacing) 10px;
  background-color: blue;
  height: calc(100vh - var(--margin-spacing) * 2);
  display: flex;
  flex-direction: column;
}

.Main {
  margin: var(--margin-spacing) 10px;
  padding: 0px 10px;
  height: calc(100% - var(--banner-height) * 2 - 2 * var(--margin-spacing));
  background-color: yellow;
  overflow-y: auto;
}

.App-header {
  background-color: #282c34;
  min-height: var(--banner-height);
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-header-middle {
  flex-grow: 2;
  text-align: center;
  background-color: blue;
}

.App-header-edge-left {
  padding: 0 20px;
  flex-basis: 20%;
  background-color: orange;
}

.App-header-edge-right {
  padding: 0 20px;
  text-align: right;
  flex-basis: 20%;
  background-color: red;
}

.App-link {
  color: #61dafb;
  width: 300px;
  background-color: green;
  padding: 0 20px;
  margin-right: 10px;
}

.App-footer {
  min-height: var(--banner-height);
  justify-content: flex-end;
  padding-right: 40px;
  display: flex;
  align-items: center;
  background-color: #282c34;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-footer-item1 {
}

.App-footer-item2 {
  flex-grow: 1;
  text-align: right;
  margin: 0 40px;
}
